@model IEnumerable<webproje1.Models.Calisan>

@{
    ViewData["Title"] = "Index";
    bool isAdmin = ViewBag.IsAdmin != null && (bool)ViewBag.IsAdmin;
}

<h1>Calisanlar</h1>


@if (isAdmin)
{
<p>
    <a asp-action="Create">Create New</a>
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsFullTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFullTime)
            </td>
            <td>
                    @if (isAdmin)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Duzenle</a>
                        @Html.Raw(" | ")
                        <a asp-action="Details" asp-route-id="@item.Id">Detaylar</a>
                        @Html.Raw(" | ")
                        <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
