@model webproje1.Models.Yag

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Yag</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResimUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResimUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UretimTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UretimTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StoktaMi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StoktaMi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
