@model IEnumerable<webproje1.Models.Yag>

@{
    ViewData["Title"] = "Index";
    bool isAdmin = ViewBag.IsAdmin != null && (bool)ViewBag.IsAdmin;
}

<h1>Yaglar</h1>

@if (isAdmin)
{
    <p>
        <a asp-action="Create">Yeni Yag Ekle</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aciklama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fiyat)
            </th>
            <th>Resim</th>
            <th>
                @Html.DisplayNameFor(model => model.Yore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UretimTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoktaMi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aciklama)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fiyat)
                </td>
                <td>
                    <img src="@item.ResimUrl" alt="@item.Ad" style="width:100px; height:auto;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Yore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UretimTarihi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StoktaMi)
                </td>
                <td>
                    @if (isAdmin)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Duzenle</a>
                        @Html.Raw(" | ")
                        <a asp-action="Details" asp-route-id="@item.Id">Detaylar</a>
                        @Html.Raw(" | ")
                        <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
